.body {
   background-image: url("Fire.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.mainTitle {
   text-align: center;
   padding-top: 10px;
   color: red;
}
.KillingWorld {
  color: red;
}
